# Node modules
node_modules/

# Build output
dist/
.vite/

# Logs
npm-debug.log
yarn-error.log

# Temporary files
*.tmp
*.temp

# IDE and editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
